.color-1 {
    background-color: rgb(0, 0, 255);
}
.color-2 {
    background-color: rgb(19, 100, 46);
}
.color-3 {
    background-color: rgb(255, 0, 0);
}
.color-4 {
    background-color: rgb(0, 255, 94);
}
.color-5 {
    background-color: rgb(255, 0, 144);
}
.color-6 {
    background-color: rgb(0, 213, 255);
}
.color-7 {
    background-color: rgb(0, 255, 85);
}
.btndex:hover {
    transition: 0.3s;
    width: 90%;
    height: 90%;
}
.imglui {
    width: 200px !important;
}